li{
  font-size: x-small
}

#city-buttons .btn {
    border-radius: 20px;
    background-color: white;
    transition: background-color 0.3s;
    font-size: smaller;
}

#city-buttons .btn:hover {
    background-color: orangered;
    color: white;
}

.col-md-4 .btn {
    border-radius: 50px;           
    background-color: #BDD5EA;    
    color: rgb(97, 78, 78);                 
    border: none;                   
    padding: 0.5rem 1.2rem;       
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    font-size: smaller;
}

footer{
  background-color: #515252;
}

footer .row{
  margin: 3%;
}
